<div class="container">
  <!-- Brand Section -->
  <div class="brand">
    <img src="assets/img/logo.png" alt="Store Logo" class="logo">
    <p>Timeless Fashion for Everyone</p>
  </div>

  <!-- Navigation Links -->
  <div class="links">
    <div class="column">
      <h4>Shop</h4>
      <ul>
        <li><a href="#">Women’s Clothing</a></li>
        <li><a href="#">Men’s Clothing</a></li>
        <li><a href="#">Kids’ Clothing</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>About Us</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Sustainability Practices</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Shipping & Returns</a></li>
        <li><a href="#">Size Guide</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Policies</h4>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Contacts</h4>
      <ul>
        <li>
          <p class="label">Email:</p>
          <a href="mailto:info@yourstore.com">email</a>
        </li>
        <li>
          <p class="label">Phone:</p>
          <a href="tel:+11234567890">+1 (123) 456-7890</a>
        </li>
        <li>
          <p class="label">Address:</p>
          <p>123 Fashion St., Style City, 12345</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="information">
    <div class="left-section">
      <div class="bottom">
        <p>© 2024 48 Store. All rights reserved.</p>
      </div>
    </div>

    <div class="right-section">
      <div class="social">
        <a href="#!" class="social-link facebook">
          <img
            src="./assets/icons/facebook.svg"
            alt=""
            class="social-icon"
          />
        </a>
        <a href="#!" class="social-link youtube">
          <img
            src="./assets/icons/youtube.svg"
            alt=""
            class="social-icon"
          />
        </a>
        <a href="#!" class="social-link tiktok">
          <img
            src="./assets/icons/tiktok.svg"
            alt=""
            class="social-icon"
          />
        </a>
        <a href="#!" class="social-link twitter">
          <img
            src="./assets/icons/twitter.svg"
            alt=""
            class="social-icon"
          />
        </a>
        <a href="#!" class="social-link linkedin">
          <img
            src="./assets/icons/linkedin.svg"
            alt=""
            class="social-icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>
