<div id="container">
  <div class="title">
    <div class="title-top">
      <p class="title-content">
        CLOTHING,
      </p>
      <img class="title-img" src="assets/img/daisies.jpg" alt="">
      <p class="title-content">SHOES</p>
    </div>
    <p class="title-content"> & ACCESSORIES</p>
  </div>

  <div class="collection">
    <img src="assets/img/mickey.jpg" alt="">
    <img src="assets/img/daisies.jpg" alt="">
    <img src="assets/img/sand.jpg" alt="">
    <img src="assets/img/speed.jpg" alt="">
  </div>
</div>
